/*==============================
Common CSS
================================*/
* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.area {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #313135;
}

.container {
  width: 90%;
  margin: 20px auto;
  overflow: hidden;
  text-align: center;
}

.area h1 {
  color: #fff;
  font-size: 30px;
  margin: 10px auto;
}

.area p {
  color: #fff;
  font-size: 18px;
}

.row {
  display: flex;
  justify-content: space-between;
}

/************************************
header
************************************/
.header {
  min-width: 100%;
  height: 720px;
  background-image: linear-gradient(rgba(6, 6, 6, 0.86), rgba(10, 10, 11, 0.87)),
    url(img/banner.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.main_menu {
  position: relative;
}

.logo_area {
  position: absolute;
  left: 50%;
  top: 15%;
  content: "";
}

.navlink {
  list-style: none;
  text-align: right;
  padding: 2% 6%;
  align-items: center;
  justify-content: space-between;
  height: 12%;

}

.navlink ul li {
  float: none;

  display: inline-block;
  padding: 8px 15px;

}

.navlink ul li:nth-child(1) {
  float: left;
}

.navlink ul li:nth-child(2) {
  float: left;
}

.navlink ul li:nth-child(3) {
  float: left;
}

.navlink ul li:nth-child(4) {
  float: left;
}

.navlink ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.navlink ul li a:hover {
  color: #e58f00;
}


.main_menu .fa {
  display: none;
}

.show {
  width: 90%;
  margin: auto;
  padding: 110px 0px 10px;
}

.show_img {
  width: 50%;

}

.show_img img {
  width: 85%;
}

.text {
  width: 50%;
  margin: auto;
}

.text h1 {
  color: #e58f00;
  font-size: 40px;
  margin-bottom: 15px;
}

.text p {
  padding: 0 115px 30px 0;
}

.text a {
  text-decoration: none;
  color: #000;
  padding: 10px 5px;
  border: 2px solid #e58f00;
  border-radius: 5px;
  background: #e58f00;
}


/************************************
about_area
************************************/


.about-col img {
  width: 100%;
  border-bottom: 1px solid #e58f00;
}

.about-col {
  width: 50%;
  margin: auto 20px;
  color: #fff;
  text-align: left;
}

/************************************
gallery_area
************************************/

.inner_gallery img {
  padding: 1% 1%;
  width: 32%;
  height: 50%;
}

/************************************
enjoy_area
************************************/
.enjoy_area {
  background-image: url(img/enjoy.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 500px;
}

.enjoy_text {
  width: 40%;

  border: 10px solid #e58f00;
  position: absolute;
  overflow: hidden;
  padding: 50px 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.enjoy_text h1 {
  font-size: 30px;
  margin-bottom: 20px;
}


/************************************
manu_area
************************************/

.menu-col {
  width: 32%;
  padding: 0px 1%;
  text-align: left;
}

.menu-col img {
  width: 100%;
}

.menu-col h1 {
  font-size: 20px;
  color: #e58f00;
}

.menu-col p {
  margin-bottom: 5px;
}

.menu-col h3 {

  font-size: 18px;
  color: #e58f00;
}

/************************************
menu_area
************************************/
.inner_meal {
  background: #e58f00;
  margin: 100px auto 0px;
  height: 230px;

}

.inner_meal img {
  width: 23%;
  margin-top: -43px;
}

.meal_text {
  color: #fff;
  width: 30%;
  margin: 20px auto 0;
}

.inner_footer {
  background: #4c4c52;
  height: 230px;
}

.inner_footer img {
  width: 18%;
  display: block;
  margin: auto;
  padding: 1% 0%;
}

.f_nav {
  display: flex;
  padding: 0%;
  align-items: center;
  justify-content: space-between;
  height: 12%;
}

.f_nav ul {
  margin: auto;
}

.f_nav ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 15px;

}

.f_nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

.icon {
  display: flex;
  padding: 1% 0%;
  align-items: center;
  justify-content: space-between;
  height: 12%;
}

.icon ul {
  margin: auto;
}

.icon ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 15px;

}

.icon ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}

.inner_footer p {
  text-align: center;
  font-size: 16px;
  margin-top: 40px;
}

.inner_footer p i {
  padding: 0% 1%;
}



/*****************
responsive
*******************/

/*****tab****/

@media (max-width: 950px) {
  .show_img {
    width: 60%;
  }

  .show_img img {
    width: 98%;
  }

  .text p {
    padding: 0 0 30px 0;
  }

  .inner_meal img {
    width: 32%;
  }
}

@media (max-width: 750px) {
  .show {
    width: 98%;
    padding: 220px 1% 10px;
  }

  .text h1 {
    font-size: 35px;
  }
/********navlink*************/
  .navlink {
    position: fixed;
    background: #1a1919;
    height: 270px;
    width: 130px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
    padding: 0px;
  }

  .navlink ul {
    margin-top: 15px;
  }

  .navlink ul li {
    float: none;
    display: block;
    margin: 0px;
    position: relative;
  }

  .navlink ul li:nth-child(1) {
    float: none;
  }

  .navlink ul li:nth-child(2) {
    float: none;
  }

  .navlink ul li:nth-child(3) {
    float: none;
  }

  .navlink ul li:nth-child(4) {
    float: none;
  }

  .navlink ul li::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background-color: #fff;
    top: 30px;
    left: 15px;
  }

  .navlink ul li a {
    font-size: 16px;
  }

  .logo_area {
    position: absolute;
    left: 10px;
    top: 20px;
    content: "";
  }
/**navlink end***/

  .main_menu .fa {
    display: block;
    color: #fff;
    padding: 2%;
    font-size: 22px;
    cursor: pointer;
    float: right;
  }

  .inner_meal img {
    width: 40%;
  }

  .meal_text {
    width: 45%;
    margin: 5px auto 0;
  }
}

/***Mobile****/
@media (max-width: 500px) {
  .area h1 {
    font-size: 25px;
  }

  .row {
    flex-direction: column;
  }

  .show {
    padding: 0px 1% 10px;
    margin: 120px 0 0;
  }

  .show_img {
    width: 100%;
  }

  .show_img img {
    width: 98%;
  }

  .text {
    width: 100%;
    margin: auto;
  }

  .text p {
    font-size: 17px;
    padding: 0;
    margin-bottom: 20px;
  }

  .text a {
    padding: 5px;
  }

  .about-col {
    width: 100%;
    margin: auto;
  }

  .inner_gallery img {
    width: 100%;
    margin: 10px auto;
  }

  .enjoy_text {
    width: 80%;
    border: 3px solid #e58f00;
    padding: 0px;
  }

  .menu-col {
    width: 100%;
    margin: 10px auto;
  }

  .inner_meal {
    height: 300px;
    margin: 0px;
  }

  .inner_meal img {
    margin: 5px auto;
  }

  .meal_text {
    width: 100%;
    text-align: center;
  }

  .meal_text h1 {
    font-size: 20px;
    margin: 5px auto;
  }

  .meal_text p {
    font-size: 17px;
  }

  .inner_footer img {
    width: 50%;
    padding: 5px 0px;
  }

  .f_nav {
    margin: 10px auto;
  }

  .icon {
    margin: 40px auto;
  }
}